body {
    background-color: lightgrey;
}

div {
    border: 1px solid #black;
}

.info {
    width: 100%;
    margin: auto;
    font-size: 15pt;
    text-align: center;
}

#currentStudent {
    width: 85%;
    height: 350px;
    margin: 118px auto 0 auto;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#lecture {
    margin: =50px auto;
    position: relative;
    text-align: center;
}

.main {
    margin: 0 auto;
}

.nav-button {
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 72px;
}

.index-point {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #9d9487;
    display: inline-block;
    font-size: 23px;
    border-radius: 100%;
    margin: 15px;
}

.index-point-active {
    background-color: lightblue;
}

.num {
    position: relative;
    top: 11px;
    left: -3px;
}