div {
    border: 1px solid #0aff16;
}

#lecture {
    margin: 0 185px;
}

.nav-button {
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 72px;
}

.index-point {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #9d9487;
    display: inline-block;
    font-size: 23px;
    border-radius: 100%;
}

.index-point-active {
    background-color: red;
}