body {
    background-color: lightgrey;
}

div {
    border: 1px solid #black;
}

#lecture {
    margin: 0 auto;
    position: relative;
    top: 250px;
}

.nav-button {
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 72px;
}

.index-point {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #9d9487;
    display: inline-block;
    font-size: 23px;
    border-radius: 100%;
    margin: 15px;
}

.index-point-active {
    background-color: lightblue;
}

.num {
    position: relative;
    top: 11px;
    left: -3px;
}